html {
    scroll-behavior: smooth;
}
body {
    background-color: gray;
}



/*MOVIE CARDS*/
.movieCard {

}

.card-img-top{
    padding-top: 10px;
}

.card-text {
    font-size: .7rem;
}
/*STARS*/
.checked {
    color: orangered;
}


/*ANIMATIONS*/