html {
    scroll-behavior: smooth;
}

.movieCard {
    display: flex;
    margin: auto;
}

.card-img-top{
    padding-top: 10px;
}

body {
    background-color: gray;
}

.card-text {
    font-size: .5rem;
}

.checked {
    color: orangered;
}