html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}


/*NAVBAR*/
.navbar {
background-color: dodgerblue;
    color: white;
    font-weight: bold;
}



/*MOVIE CARDS*/
.movieCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 80px;

}

.card-img-top{
    max-width: fit-content;
    max-height: fit-content;
    box-shadow: 0 0 2px 0 white;
    border: 0;
    border-radius: .2rem;
}

.flip-card {
    background-color: transparent;
    margin-bottom: 300px;
    width: 300px;
    height: 200px;
    perspective: 1000px;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 300px;
    height: 200px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: fit-content;
    height: fit-content;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;
    color: black;
}

/* Style the back side */
.flip-card-back {

    color: white;
    transform: rotateY(180deg);
}


/*STARS*/
.checked {
    color: orangered;
}


/*ANIMATIONS*/
/**
  * Load man - gaming inspired loader
  *
  * @author jh3y - jheytompkins.com
*/
.load-man {
    -webkit-animation: load-man-travel 1.2s infinite linear;
    animation: load-man-travel 1.2s infinite linear;
    background: repeating-linear-gradient(90deg, white, white 5%, transparent 5%, transparent 35%);
    height: 10px;
    left: 50%;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 200px;
     }
.load-man:after, .load-man:before {
    content: '';
    position: absolute;
    left: -25px;
    top: 50%;
    border: 25px solid yellow;
    border-radius: 100%;
    margin-top: -25px; }
.load-man:before {
    --close: -90;
    -webkit-animation: load-man-chomp 0.35s infinite linear;
    animation: load-man-chomp 0.35s infinite linear;
    border-bottom-color: transparent;
    border-left-color: transparent; }
.load-man:after {
    --close: 0;
    -webkit-animation: load-man-chomp 0.35s infinite linear;
    animation: load-man-chomp 0.35s infinite linear;
    border-right-color: transparent;
    border-top-color: transparent; }

@-webkit-keyframes load-man-travel {
    to {
        background-position: -200px 0; } }

@keyframes load-man-travel {
    to {
        background-position: -200px 0; } }

@-webkit-keyframes load-man-chomp {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    50% {
        -webkit-transform: rotate(calc(var(--close) * 1deg));
        transform: rotate(calc(var(--close) * 1deg)); }
    100% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); } }

@keyframes load-man-chomp {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    50% {
        -webkit-transform: rotate(calc(var(--close) * 1deg));
        transform: rotate(calc(var(--close) * 1deg)); }
    100% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); } }
/*END OF LOADING ANIMATION*/




/*MODALS*/
.modal{
    color: white;
}

.modal-header, .modal-footer, .modal-body {
    background-color: gray;
}